body {
  margin: 0;
}

.crac {
  width: 800px;
  height: 300px;
  position: relative;
}

.person_img {
  float: left;
  margin: 20px 30px 10px 40px;
  width: 250px;
  height: 200px;
  border-radius: 20px;
}

.person_intro {
  margin: 20px 0px 0px 350px;
  padding-top: 15px;
}

.intro_q {
  font-size: 18px;
  font-weight: bold;
}

.intro_a {
  font-size: 13px;
  padding-left: 5px;
  white-space: pre-line;
  height: auto;
  font-weight: lighter;
}

.myself_intro {
  border-top: 1px solid black;
  padding-top: 20px;
  margin: 50px 300px 50px 40px;
}

.myself_q {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

.myself_a {
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  width: 500px;
  height: 50px;
}

.cheerup_title {
  font-size: 30px;
  padding: 30px 30px 10px 40px;
  font-weight: bold;
}

.result_msg {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  width: 450px;
}

.result_name {
  font-weight: 700;
  font-size: 15px;
}

.result_detail {
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  font-weight: 300;
  height: auto;
}

.detail_time {
  font-size: 11px;
  color: grey;
}

.story {
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  width: 450px;
  height: auto;
  margin: 50px 0px 50px 40px;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  width: 600px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.good {
  margin-left: auto;
  position: absolute;
  margin-top: 5px;
  top: 0;
  right: 0;
}

/* // media query 500px 이하 */

@media (max-width: 500px) {
  .crac {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .person_intro {
    margin: 10px 0px 0px 30px;
    padding: 15px;
  }
  .myself_intro {
    border: none;
  }
  .myself_q {
    width: 100px;
    font-size: 25px;
  }
  .myself_a {
    width: 300px;
    height: auto;
    font-size: 12px;
  }
  .msg {
    width: 400px;
    height: auto;
  }
  .story {
    width: 300px;
  }
  .good {
    margin-left: 5px;
    width: 50px;
    font-size: 12px;
  }
  .result_msg {
    border-bottom: 1px solid black;
    width: 300px;
  }
}
